*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Header Section */

header {
  overflow-y: hidden;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  height: 35px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px 15px;
}

header a:hover {
  cursor: pointer;
  opacity: 0.7;
}

header img {
  padding: 5px 15px;
  width: 20px;
  height: 20px;
}

header span {
  overflow-y: hidden;
  font-size: 16px;
  padding: 5px 15px;
}

header span a {
  overflow-y: hidden;
  text-decoration: none;
  color: rgba(0,0,0,0.7)
}

header span a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.banner {
  height: 500px;
  background-image: url("../images/cave.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.article {
  width: 850px;
  margin: 0 auto;
}

.main {
  justify-content: center;
  padding: 50px 0px;
  display: flex;
  flex-flow: column wrap;
}

.main h1 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 5px;
  font-weight: 400;
  color: rgba(0,0,0,0.85)
}

.main h2 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 20px;
  font-weight: 300;
  color: rgba(0,0,0,0.85);
  font-size: 20px;
}

.main p {
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: rgba(0,0,0,0.75);
  font-weight: 400;
  line-height: 1.5;
}

.main em {
  font-family: italic;
  font-weight: 500;
}

.main p a {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  font-weight: 300;
}

.resources {
  padding: 20px 0 40px 0;
}

.resources h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 23px;
  color: rgba(0,0,0,0.5);
  padding-bottom: 5px;
}

.resources ul {
  list-style-type: none;
}

.resources li {
  padding: 5px 0;
  font-family: "Quicksand", sans-serif;
}

.resources a {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  font-weight: 300;
}

.resources a:focus{
  outline: none;
  border-color: rgba(0,0,0,0.6);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Footer */

.footer {
  width: 850px;
  margin: 20px auto 0 auto;
  padding: 5px 0;
  height: 35px;
  background-color: white;
  overflow-y: hidden;
  border-top: 1px solid grey;
}

.footer li {
  font-size: 12px;
  display: inline;
  color: black;
  line-height: 40px;
  padding: 5px 15px;
  font-family: "Quicksand", sans-serif;
}

.footer a {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
}

.footer a:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media all and (device-width:768px) {
  .banner {
    background-image: url("../images/cave_mobile.jpg");
  }
  .article {
    width: 600px;
  }
  .footer {
    width: 600px;
  }
}

@media all and (max-device-width: 425px) {
  .banner {
    background-image: url("../images/cave_mobile.jpg")
  }
  header img {
    width: 18px;
    height: 18px;
  }
  header span {
    font-size: 14px;
  }
  .article {
    width: 350px;
  }
  .main {
    padding: 35px 0;
  }
  .main h1 {
    font-size: 25px;
  }
  .main p {
    text-align:justify;
    font-size: 16px;
    line-height: 2;
  }
  .resources {
    padding: 0 25px 50px 25px;
  }
  .footer {
    width: 350px;
    padding: 0;
  }
  .footer li {
    font-size: 10px;
  }
}
}

@media all and (device-width:667px) {
  .banner {
    background-image: url("../images/cave_mobile.jpg");
  }
}

@media all and (device-width: 320px) {
  .article {
    width: 280px;
  }
  .footer {
    width: 280px;
  }
}
